<div class="restaurant-list">
	<mat-card *ngFor="let restaurant of collection?.restaurants" class="restaurant-card">
		<mat-card-header>
			<mat-card-title-group>
				<mat-card-title>{{ restaurant.name }}</mat-card-title>
				<mat-card-subtitle>
					<span>
						<rating [ratings]="restaurant.rating"></rating>
					</span> <br>
					<span>{{ getPriceRange(restaurant.cost) }} ‧ {{ restaurant.cuisine }} ‧ {{ restaurant.location }}</span>
				</mat-card-subtitle>
			</mat-card-title-group>
		</mat-card-header>
		<mat-card-actions align="end">
			<button mat-button (click)="openMoreDialog(restaurant)">Read More <mat-icon>arrow_forward</mat-icon></button>
		</mat-card-actions>
	</mat-card>
</div>